In [ ]:
python assignment number 1

1)expressions-*,-,/,+
  values-'hello',-87.8,6

In [ ]:
2)string- string start and end with single and double quotes
          combination of multiple character
    variable-it stores information
             it represent any value

In [ ]:
3)interger-it represnts mathematical integers
float-it represents decimal numbers
string-it reprsents word or character

In [ ]:
4)expression is made up of values and operators
when statements are different then it gives a single value

In [ ]:
5)an expression evaluates to a single value whereas statement doesnt

In [3]:
6)   bacon=22
bacon+(1)

23

In [ ]:
7)'spamspamspam'

In [ ]:
8)because variables should always start with a letter

In [ ]:
9)int() float() stirng()

In [8]:
10)'i have eaten'+str(99)+'burritos'

'i have eaten99burritos'

In [ ]:
here 99 is a integer so it causes error